@import "mixins.less";

.zurui-line-top(@op1: .1, @op2: 1) {
    border-top: 1px solid rgba(0,0,0, @op1);
    .box-shadow(0 1px 0 rgba(255,255,255,@op2) inset);
}

.zurui-line-left(@op1: .1, @op2: 1) {
    border-left: 1px solid rgba(0,0,0, @op1);
    .box-shadow(-1px 0 0 rgba(255,255,255,@op2));
}

.zurui-line-right(@op1: .1, @op2: 1) {
    border-right: 1px solid rgba(0,0,0, @op1);
    .box-shadow(-1px 0 0 rgba(255,255,255,@op2) inset);
}

.zurui-line-bottom(@op1: .1, @op2: 1) {
    border-bottom: 1px solid rgba(0,0,0, @op1);
    .box-shadow(0 1px 0 rgba(255,255,255,@op2));
}

