@(tasks: List[Task], taskForm: Form[String])

@import helper._
@import helper.twitterBootstrap._

    @main("Todo list") {

<h1>You have @tasks.size tasks</h1>

<div class="row">
            @tasks.map { task =>
            <div class="span3">
                   @task.label
               @form(routes.Application.deleteTask(task.id)) {
                   <p><input type="submit" class="btn btn-mini btn-danger" value="Delete"></p>
               }
            </div>
            }
</div>

<h2>Add a new task</h2>
<div class="span9">
    @form(routes.Application.newTask) {
        @textarea(taskForm("label"))
        <input type="submit" class="btn btn-primary" value="Create">
    }
</div>

}

